<br>
<div class="container cont-igem-explorer-logo">
<img class="igem-explorer-logo" src="#{url_root}/img/igem_explorer_logo.png">
</div>
<br><br><br><br><br><br>

<div class="text-igem-rights"><a href="http://2015.igem.org/Team:Technion_HS_Israel">Brought to you by the Technion HS 2015 team</a></div>
<br><br><br>