#**
 *  Renders the main query form
 *#

<div class="query-box">
  

    <div class="inputs">
    <div id="query-inputs" class="">
      <form id="query-form"  action="#{url_for_home}" method="GET">
        <span class="cont-inputs-text" #annTitle("Add the query using the &q= parameter")>
          <span class="inputs-text">Find:</span>
          <input class="inputs-text" type="text" id="q" name="q" value="$!esc.html($params.get('q'))"/>
          <input class="inputs-text" type="submit" id="querySubmit"/>
          #*<input class="inputs-text" type="reset" id="queryReset"/></span>*#
        </span>
      </form>

      <button class="inputs-text" id="advanced-search-button">Advanced Search Menu</button>
    </div>

#**
      <div class="query-boost">
        <span #annTitle("Add the boost function &bf=price to the query")>
          <input type="checkbox" name="bf" value="price"
            #if($request.params.get('bf') == 'price')checked="true"#end
          >
            Boost by Price
          </input>
        </span>
      #parse("query_spatial.vm")
      #parse("query_group.vm")
      </div>
*#
  </div>
  
<form id="query-form2" action="#{url_for_home}" method="GET">
    #if($request.params.get('debugQuery'))
      <input type="hidden" name="debugQuery" value="true"/>
    #end
    #if($annotate == true)
      <input type="hidden" name="annotateBrowse" value="true"/>
    #end
    #foreach($fq in $request.params.getParams('fq'))
      #if ($fq != "{!bbox}")
        <input type="hidden" name="fq" id="allFQs" value="$esc.html($fq)"/>
      #end
    #end

    <div class="constraints" #annTitle("Lists out the &fq filters.  Click to remove.")>
      #foreach($fq in $params.getParams('fq'))
        #set($previous_fq_count=$velocityCount - 1)
        #if($fq != '')
          <span class="text-constraints">&gt;</span>
          <a class="text-constraints"style="{text-decoration: line-through;}"
            href="#url_for_filters($request.params.getParams('fq').subList(0,$previous_fq_count))"
          >$fq</a>
        #end
      #end

    </div>
    <br>
    <div class="parsed_query_header">
      #if($request.params.get('debugQuery'))
        <a href="#" onclick='jQuery(this).siblings("div").toggle(); return false;'>toggle parsed query</a>
        <div class="parsed_query" style="display:none">$response.response.debug.parsedquery</div>
      #end
      #set($queryOpts = $request.params.get("queryOpts"))
      #if($queryOpts && $queryOpts != "")
        <input type="hidden" name="queryOpts" value="$queryOpts"/>
      #end
    </div>

  </form>

</div>


   
      <script>
      
      //document.getElementById('advanced-search-button').onclick=openAdv();
      /*
      function openAdv(){
          $("#advanced-search-button").text("Close Advanced Search Menu");
          $(".navigation-ul").removeClass("hidden");
          $("#advanced-search-button").click(closeAdv());
      }

      function closeAdv(){
          $("#advanced-search-button").text("Open Advanced Search Menu");
          $(".navigation-ul").addClass("hidden");
          $("#advanced-search-button").click(openAdv());
      }
      */
     
      function toggleAdv(){
        $(".navigation-ul").toggleClass("hidden");

      }
      function queryFormMain(){
        $("#advanced-search-button").click(toggleAdv);
      }


      $(document).ready(queryFormMain);
      </script>

